.previewBox {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: repeat(5, 20px);
  width: 100px;
  height: 100px;
  background-color: #1a1a1a;
  border: 2px solid #555;
  padding: 5px;
}
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  box-sizing: border-box;
}