.previewBox {
  display: grid;
  grid-template-columns: repeat(5, 15px);
  grid-template-rows: repeat(5, 15px);
  background-color: #1a1a1a;
  border: 1px dashed #ffffff;
  padding: 5px;
}
.cell {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  box-sizing: border-box;
}