.title {
  text-align: center;
}

.playersGrid {
  display: grid;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerContainer.dead {
  opacity: 0.5;
}

.playerComponents {
  width: 100%;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.attackTarget {
  padding: 10px;
  background-color: #000c5bff;
  border: 1px dashed #ffffff;
  color: #fff;
  text-align: center;
}

.attackTarget.locked {
  opacity: 0.5;
}
