.container {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 14px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
}

.section {
  margin-bottom: 30px;
}

.sectionTitle {
  margin-bottom: 10px;
  text-align: center;
}

.buttonGroup {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.playerCountButton {
  font-size: 26px;
}

.playerNamesSection {
  margin-bottom: 20px;
}

.inputWrapper {
  margin-bottom: 10px;
}

.nameInput {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 3px dashed #051768;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  color: #051768;
  text-align: center;
}

.startButton {
  width: 100%;
  padding: 15px;
  font-size: 40px;
}
