.glassGrid {
  display: grid;
  border: 1px dashed #ffffff;
  background-color: #1a1a1a;
  width: fit-content;
  margin: 0 auto;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid #2e2e2e;
  box-sizing: border-box;
}

.cellFilled {
  border: 1px solid #fff;
}